{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{% block content %}
<div class="container-fluid d-flex flex-column alight-items-center justify-content-center mt-5">
    <h1 class="align-self-center">Password change</h1>
    <p class="align-self-center">Please enter your old password, for security's sake, and then enter your
        new password twice so we can verify you typed it in correctly.</p>
    <form class="container d-flex flex-column align-self-center justify-content-center p-5" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary align-self-center mt-5" type="submit" value="Update Profile">
    </form>
    <br />
</div>
{% endblock content %}