{% extends 'base.html'%}

{% load static %}
{% block content %}
<title>Desing Flow - Home</title>

<style>
  .blob {
    height: 75vh;
  }

  .top_display {
    height: 75vh;
  }

  .feature_small {
    max-width: 1200px;
  }

  .feature_medium {
    max-width: 1500px;
  }

  .feature_large {
    max-width: 2000px;
  }

  .small_image {
    height: 45vh;
  }

  .feature_3d {
    height: 40vh;
  }

  .pricing {
    height: 50vh;
  }
</style>


<div class="container-fluid px-0 overflow-x-hidden">
  <div class="top_display position-relative">
    <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.516/build/spline-viewer.js"></script>
    <spline-viewer loading-anim-type="spinner-small-dark"
      url="https://prod.spline.design/PJNEhxg3pMshfRUd/scene.splinecode"></spline-viewer>
    <div class="z-3 position-absolute top-50 start-50 translate-middle">
      <h1 class="z-3 text-center display-3 text-white">You subscribed to Flow Pro</h1>
      <h1 class="z-3 text-center display-1 text-white fw-bold">Thank you!</h1>
    </div>
  </div>

</div>
{% endblock %}