{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock title %}
{% block content %}
{% if user.is_authenticated %}
<title>Desing Flow - Edit Profile</title>

<div class="container-fluid d-flex flex-column alight-items-center justify-content-center mt-5">
    <h1 class="align-self-center"> Edit Profile</h1>
    <form class="container d-flex flex-column align-self-center justify-content-center p-5" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary align-self-center mt-5" type="submit" value="Update Profile">
    </form>
    <br />
</div>
{% else %}
You're not allowed here
{% endif %}
{% endblock content %}